*{
    font-family: "microsoft yahei";
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.footer{
    width: 100%;
}
.footer:first-child{
    height: 130px;
    background: #c2c2c2;
}
.footer:last-child{
    background: #2a2a2a;
    height: 60px;
}
.footer .com{
    width: 1200px;
    margin: auto;
    padding-top: 22px;
}
.footer .com img{
    display: block;
    margin: auto;
}
.footer  .com_t{
    width: 1200px;
    margin: auto;
    padding-top: 10px;
}
.footer .com_t .com_t_item{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: white;
}
.footer .com_t .com_list{
    width: 1200px;
    text-align: center;
    margin-top: 4px;
}
.footer .com_t .com_list .com_item{
    display: inline-block;
    font-size: 12px;
    color: white;
}
