*{
    font-family: "microsoft yahei";
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}


$heaBgColor:#00a176;
$heaHeight:40px;
$heafontColor:#fff;
.header{
    height: $heaHeight;
    background: $heaBgColor;
    width: 100%;
}
.header .header_list{
    width:1200px;
    text-align: right;
    height: $heaHeight;
    margin: auto;
    font-size: 0;
}
.header .header_list .header_item{
    display: inline-block;
    height: $heaHeight;
    line-height: 40px;
    color: $heafontColor;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 14px;
}
.header .header_list .header_item:first-child{
    margin-right: 30px;
}
.header .header_list .header_item:first-child .header_item_icon{
    display: inline-block;
    width: 22px;
    height: 30px;
    background-image: url(../../img/header/icon.png);
    background-position: -117px -15px;
    vertical-align: bottom;
    margin-top: 7px;
    vertical-align: middle;
}

.header .header_list .header_item:nth-child(2){
    margin-right: 0;
}
.header .header_list .header_item:nth-child(3){
    width: 30px;
    background-image: url(../../img/header/icon.png);
    background-position: -148px -5px;
    cursor: pointer;
}
.header .header_list .header_item:nth-child(4){
    width: 78px;
    height: 30px;
    margin-top: 2px;
    background: #00bd8a;
    border-radius: 9px;
    color: $heafontColor;
    line-height: 30px;
    position: relative;
    text-align: left;
    cursor: pointer;
}
.header .header_list .header_item:nth-child(4) .header_item_icon:first-child{
    display: inline-block;
     background-image: url(../../img/header/icon.png);
    background-position: -14px -6px;
    width: 25px;
    height: 30px;
    margin-left: 12px;
    margin-right: 4px;
    vertical-align: top;
}
.header .header_list .header_item:nth-child(4) .header_item_icon:nth-child(2){
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #00bd8a;
    text-align: center;
    position: absolute;
    top: -5px;
    border-radius: 50%;
    left: 24px;
}
.header .header_list .header_item:nth-child(4) .header_item_icon:nth-child(2) .header_item_email{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    line-height: 15px;
    text-align: center;
    font-size: 12px;
    color: $heafontColor;
    position: absolute;
    left: 2px;
    top: 3px;
    border-radius: 50%;
}
.header .header_list .header_item:nth-child(5),.header .header_list .header_item:nth-child(6),.header .header_list .header_item:nth-child(7){
    width: 48px;
    height: 30px;
    line-height: 30px;
    color: $heafontColor;
    border-radius: 9px;
    line-height: 30px;
    text-align: center;
    background: #00bd8a;
    cursor: pointer;
}
.header .header_list .header_item:nth-child(7){
    background: #39ca00;
}
.header .header_list .header_item:last-child{
    margin-right: 0;
}


$fontColor:#fff;
$conBgColor:#00856b;
$conheight:75px;
.con{
    width: 100%;
    background: $conBgColor;
    height: $conheight;
}
.con .con_info{
    width: 1200px;
    font-size: 0;
    margin: auto;
    height: $conheight;
}
.con .con_info img{
    margin-top: 2px;
    height: 70px;
}
.con .con_info .logo{
    display: inline-block;
    height: $conheight;
    background: url(../../img/header/logok.png) no-repeat;
    background-position: -350px 0;
    width: 400px;
}
.con .con_info .con_menu{
    float: right;
    height: $conheight;
}
.con .con_info .con_menu .con_menu_item{
    display: inline-block;
    margin-left: 64px;
    color: white;
    height: 71px;
    line-height: 71px;
    width: 118px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    margin-right: -55px;
}
.con .con_info .con_menu .con_menu_item:last-child{
    margin-right: 0;
}
.con .con_info .con_menu .active{
    border-bottom: 4px solid #fff;
    color: #00a176;
}


.quick{
    position: fixed;
    top: 315px;
    left: 0;
    width: 40px;
    background: $heaBgColor;
    padding-top: 20px;
    padding-bottom: 20px;
}
.quick .quick_list{
    width: 40px;
    .quick_item{
        width: 40px;
        color: white;
        font-size: 12px;
        padding-bottom: 20px;
        text-align: center;
        border-top: 1px solid #006b4a;
        cursor: pointer;
        .quick_item_icon{
            display: inline-block;
            width: 36px;
            height: 25px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: -2px;
        }
    }
}
.quick .quick_list .quick_item:first-child .quick_item_icon{
    background: url(../../img/header/icon.png);
    background-position: -58px -49px;
}
.quick .quick_list .quick_item:nth-child(2) .quick_item_icon{
    background: url(../../img/header/icon.png);
    background-position: -141px -48px;
}
.quick .quick_list .quick_item:nth-child(3) .quick_item_icon{
    background: url(../../img/header/icon.png);
    background-position: -59px -87px;
}
.quick .quick_list .quick_item:nth-child(4) .quick_item_icon{
    background: url(../../img/header/icon.png);
    background-position: -14px -85px;
}
.quick .quick_list .quick_item:nth-child(5) .quick_item_icon{
    height: 32px;
    background: url(../../img/header/icon.png);
    background-position: -186px -93px;
}
.quick .quick_list .quick_item:nth-child(5){
    border-bottom: 1px solid #006b4a;
}
.quick .quick_list .active{
    color: #006b4a;   
}
.quick .quick_list .active:first-child .quick_item_icon{
    background: url(../../img/header/icon.png);
    background-position: -13px -49px;
}
.quick .quick_list .active:nth-child(2) .quick_item_icon{
    background: url(../../img/header/icon.png);
    background-position: -102px -49px;
}
.quick .quick_list .active:nth-child(3) .quick_item_icon{
    background: url(../../img/header/icon.png);
    background-position: -103px -87px;
}
.quick .quick_list .active:nth-child(4) .quick_item_icon{
    background: url(../../img/header/icon.png);
    background-position: -186px -52px;
}
.quick .quick_list .active:nth-child(5) .quick_item_icon{
    background: url(../../img/header/icon.png);
    background-position: -146px -93px;
}