* {
    font-family: "microsoft yahei";
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
$bannerWidth: 100%;
$bgColor: #008d74;
.con {
    width: $bannerWidth;
    .banner {
        width: $bannerWidth;
        height: 804px;
        position: relative;
        img {
            width: $bannerWidth;
        }
    }
}
.con .banner .ba_list {
    position: absolute;
    height: 22px;
    width: 20%;
    margin-left: 40%;
    bottom: 8px;
    text-align: center;
    z-index: 100;
}
.con .banner .ba_list .ba_item {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
    margin-left: 10px;
}
.con .banner .ba_list .ba_item span {
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    margin: 2px auto;
}
.con .banner .ba_list .active span{
    background: $bgColor;
}
