*{
    padding:0;
    margin:0;
}
html,body{
	height: 100%;
	min-width: 1200px;
	font-family: 'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,STHeiti;
	word-break: normal
}
.header{
	width: 100%;
	height: 68px;
	position: relative;
}
.header .header_line{
	width: 100%;
	display: inline-block;
	position: absolute;
	height: 1px;
	border-top: 1px solid #FEBE57;
	top:33px;
	z-index: -1;
}
.header .header_con{
	width: 1200px;
	min-width: 1200px;
	height: 68px;
	margin: auto;
}
.header .header_con .logo_package{
	height: 68px;
	width: 120px;
	background: white;
}
.header .header_con .logo_package .logo{
	height: 68px;
}

.con{
	width: 100%;
	min-width: 1200px;
	position: absolute;
	top: 68px;
	bottom: 0;
	background: url(../img/index/logIn_bg.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
	-webkit-background-size: cover;
	/* 兼容Webkit内核浏览器如Chrome和Safari */
	
	-o-background-size: cover;
	/* 兼容Opera */
}
.con .con_info{
	width: 1200px;
	margin: auto;
	padding-top:100px;
	text-align: right;
}
.con .con_info .con_login{
	display: inline-block;
	width: 310px;
	background: white;
	position: relative;
	font-size: 0;
	padding-bottom: 15px;
	box-shadow: 0 0 10px #d9d9d9;
	text-align: left;
}
.con .con_info .con_login .con_login_item{
	display: inline-block;
	margin: auto;
	font-family: "微软雅黑";
	font-size: 15px;
	margin-left: 30px;
}
.con .con_info .con_login .con_login_item:first-child{
	width: 100%;
	color: #333;
	background: #f5f5f5;
	font-family: "微软雅黑";
	font-size: 20px;
	text-align: center;
	padding:10px 0;
	margin-left: 0;
}
.con .con_info .con_login .login_acc{
	margin-right: 30px;
	margin-top: 12px;
	width: 190px;
	height: 40px;
	line-height: 40px;
	background: url(../img/index/user.png) no-repeat;
	background-position: 5px 8px;
	padding-left: 36px;
	border: 1px solid #ccc;
}
.con .con_info .con_login .pwd{
	margin-right: 30px;
	margin-top: 12px;
	width: 190px;
	height: 40px;
	line-height: 40px;
	background: url(../img/index/code.png) no-repeat;
	background-position: 5px 8px;
	padding-left: 36px;
	border: 1px solid #ccc;
}
.con .con_info .con_login .vCode{
	margin-top: 12px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	background: url(../img/index/lock.png) no-repeat;
	background-position: 5px 8px;
	padding-left: 36px;
	border: 1px solid #ccc;
}
.con .con_info .con_login input:focus{
	outline: none;
	border:1px solid #ff5654;
}
.con .con_info .con_login .v_code_val{
	height: 39px;
	width: 60px;
	background: rgb(185,185,185);
	line-height: 38px;
	color: white;
	font-size: 16px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-left : 10px;
	cursor: pointer;
}
.con .con_info .con_login .refresh_img{
	margin-left: 10px;
	margin-top: -13px;
	cursor: pointer;
}
.con .con_info .con_login .login_help{
	color: #0c97d1;
	text-decoration: underline;
	font-size: 14px;
	cursor: pointer;
	width: 250px;
	margin-right: 30px;
	margin-top: 10px;
	text-align: right;
}
.con .con_info .con_login .login_help:hover{
	color: blue;
}
.con .con_info .con_login .acc_login{
	width: 250px;
	margin-right: 30px;
	margin-top: 20px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background: #FF5654;
	color: white;
	line-height: 40px;
	cursor: pointer;
}
.con .con_info .con_login .acc_login:hover{
	background: red;
}
