* {
	font-family: "microsoft yahei";
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
/*
 */
	#container {
			width: 100%;
			height: 600px;
			overflow: hidden;
	}
	.sections,.section {
		height:600px;
	}
	#container,.sections {
		position: relative;
	}
	.section {
		background-color: #000;
		background-size: cover;
		background-position: 50% 50%;
		text-align: center;
		color: white;
	}
	#section0 {
		background-image: url(../../../img/home/Banner1.jpg);
	}
	#section1 {
		background-image: url(../../../img/home/Banner2.jpg);
	}
	#section2 {
		background-image: url(../../../img/home/Banner1.jpg);
	}



.con {
	width: 100%;
}

.con .banner {
	width: 100%;
	height: 600px;
	position: relative;
}
.con .banner .banner_l{
	width: 100%;
	font-size: 0;
	position: relative;
}

.con .banner img {
	height: 600px;
	display: inline-block;
	position: absolute;
	left: 0;
}

.con .banner .ba_list {
	position: absolute;
	height: 22px;
	width: 20%;
	margin-left: 40%;
	bottom: 8px;
	text-align: center;
	z-index: 100;
	background: black;
}

.con .banner .ba_list .ba_item {
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.3);
	margin-left: 10px;
}

.con .banner .ba_list .ba_item span {
	width: 18px;
	height: 18px;
	display: inline-block;
	border-radius: 50%;
	margin: 2px auto;
}
.con .banner .ba_list .ba_item:hover span{
	background: #008d74;
}
.con .banner .ba_list .active span {
	background: #008d74;
}


.con .con{
	background: #008d75;
	padding-bottom: 60px;
}
.con_i{
	width: 1200px;
	margin: auto;
	padding-top: 50px;
	font-size: 0;
}
.con_i .con_i_item{
	display: inline-block;
	font-size: 12px;
	width: 424px;
}
.con_i .con_i_item:first-child{
	width: 316px;
	height: 382px;
}
.con_i .con_i_item:first-child .c_i_1{
	background: white;
	padding-top: 20px;
	padding-left: 22px;
	padding-bottom: 4px;
}
.con_i .con_i_item:first-child .c_i_1:last-child{
	margin-top: 3px;
	padding-bottom: 0;
}
.con_i .con_i_item:first-child .c_i_1_radius{
	display: inline-block;
	width: 96px;
	height: 96px;
	border:1px solid #dedede;
	border-radius: 50%;
}
.con_i .con_i_item:first-child .c_i_1_radius img{
	width: 90px;
	height: 90px;
	margin-top: 3px;
	margin-left: 3px;
}
.con_i .con_i_item:first-child .c_i_2{
	display: inline-block;
	margin-left: 24px;
}
.con_i .con_i_item:first-child .c_i_2 .c_i_2_1{
	padding-bottom: 8px;
	font-size: 12px;
	color: #bfbfbf;
}
.con_i .con_i_item:first-child .c_i_2 .c_i_2_1:first-child{
	font-size: 14px;
	color: #000;
}
.con_i .con_i_item:first-child .c_i_2 .c_i_2_1:nth-child(2) span{
	color:#000;
	font-weight: 600;
}
.con_i .con_i_item:first-child .c_i_2 .c_i_2_1:nth-child(3){
	padding-bottom: 5px;
}
.con_i .con_i_item:first-child .c_i_2 .c_i_2_1:nth-child(4) .c_i_2_2{
	display: inline-block;
	margin-right: 2px;
	height: 30px;
	width: 58px;
	line-height: 30px;
	text-align: center;
	color: white;
	background: #01a274;
	border-radius: 4px;
	cursor: pointer;
}
.con_i .con_i_item:first-child .c_i_2 .c_i_2_1:nth-child(4) .c_i_2_2:last-child{
	background: #00b69a;
}

.con_i .con_i_item:first-child .c_i_1 .c_i_1_1{
	width: 280px;
}
.con_i .con_i_item:first-child .c_i_1 .c_i_1_1:last-child{
	margin-top: 18px;
	padding-top: 14px;
	background: #f1f1f1;
	margin-left: -22px;
	width: 294px;
	padding-left: 22px;
}
.con_i .con_i_item:first-child .c_i_1 .c_i_1_1 .c_i_1_2 span{
	display: inline-block;
	height: 19px;
}
.con_i .con_i_item:first-child .c_i_1 .c_i_1_1 .c_i_1_2 .c_i_1_icon{
	display: inline-block;
	width: 30px;
	background: url(../../../img/header/icon.png) no-repeat;
	background-position: -51px -14px;
	vertical-align: bottom;
}
.con_i .con_i_item:first-child .c_i_1 .c_i_1_1 .c_i_1_2 span:nth-child(3){
	color: #d94453;
	text-align: right;
	display: inline-block;
	cursor: pointer;
	cursor: pointer;
}
.con_i .con_i_item:first-child .c_i_1 .c_i_1_1 .c_i_1_2 span:nth-child(3){
	width: 180px;
	text-align: right;
}
.con_i .con_i_item:first-child .c_i_1 .c_i_1_1 .c_i_1_2:nth-child(2){
	position: relative;
	width: 280px;
	margin-top: 10px;
}
.con_i .con_i_item:first-child .c_i_1 .c_i_1_1 .c_i_1_2:nth-child(2) img{
	width: 280px;
	height: 38px;
}
.con_i .con_i_item:first-child .c_i_1 .c_i_1_1 .c_i_1_2:nth-child(2) .c_i_1_money{
	width: 260px;
	font-size: 18px;
	height: 38px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: right;
	line-height: 38px;
	color: white;
	letter-spacing: 2px;
	font-family: "微软雅黑";
	font-weight: 600;
}

.con_i .con_i_item:first-child .c_i_1 .c_i_1_1:last-child .c_i_1_2 .c_i_1_icon{
	background-position: -88px -14px;
}
.con_i .con_i_item:first-child .c_i_1 .c_i_1_1:last-child .c_i_1_2:last-child{
	margin-top: 14px;
	height: 97px;
}
.con_i .con_i_item:first-child .c_i_1 .c_i_1_1:last-child .c_i_1_2:last-child img{
	height: 77px;
	box-shadow: 2px 2px 3px #5b5b5b;
	border-radius: 10px;
	width: 272px;
	cursor: pointer;
}


.con .con_i .con_i_item:nth-child(2),.con .con_i .con_i_item:nth-child(3){
	margin-left: 28px;
	background: white;
	padding-top: 10px;
	height: 382px;
	vertical-align: top;
}
.con .con_i .con_i_item:nth-child(3){
	margin-left: 8px;
}
.con .con_i .con_i_item .c_i_i_t{
	width: 100%;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: white;
	font-size: 18px;
	background: #00b69a;
	font-weight: 600;
}
.con .con_i .con_i_item  .c_i_i_l{
	width: 100%;
	padding-top: 4px;
}
.con .con_i .con_i_item  .c_i_i_l .c_i_i_item span{
	display: inline-block;
	text-align: right;
	width: 155px;
}
.con .con_i .con_i_item  .c_i_i_l .c_i_i_item span:nth-child(2){
	font-size: 18px;
	font-weight: 400;
	color: #525252;
}
.con .con_i .con_i_item  .c_i_i_l .c_i_i_item span:nth-child(3){
	font-size: 18px;
	font-weight: 400;
	color: #525252;
}
.con .con_i .con_i_item  .c_i_i_l .c_i_i_item {
	height: 35px;
	line-height: 35px;
}
.con .con_i .con_i_item  .c_i_i_l .c_i_i_item:nth-child(1),
.con .con_i .con_i_item  .c_i_i_l .c_i_i_item:nth-child(2),
.con .con_i .con_i_item  .c_i_i_l .c_i_i_item:nth-child(3){
	height: 50px;
}
.con .con_i .con_i_item  .c_i_i_l .c_i_i_item span:first-child{
	width: 24px;
	text-align: left;
	padding-left: 13px;
	margin-left: 30px;
}
.con .con_i .con_i_item  .c_i_i_l .c_i_i_item:first-child span:first-child{
	margin-left: 30px;
	height: 50px;
	width: 27px;
	text-align: left;
	padding-left: 10px;
	background: url(../../../img/header/icon.png) no-repeat;
	background-position: -15px -138px;
	line-height: 32px;
	color: white;
	font-size: 16px;
}
.con .con_i .con_i_item  .c_i_i_l .c_i_i_item:nth-child(2) span:first-child{
	margin-left: 30px;
	height: 50px;
	width: 27px;
	text-align: left;
	padding-left: 10px;
	background: url(../../../img/header/icon.png) no-repeat;
	background-position: -58px -138px;
	line-height: 32px;
	color: white;
	font-size: 16px;
}
.con .con_i .con_i_item  .c_i_i_l .c_i_i_item:nth-child(3) span:first-child{
	margin-left: 30px;
	height: 50px;
	width: 27px;
	text-align: left;
	padding-left: 10px;
	background: url(../../../img/header/icon.png) no-repeat;
	background-position: -101px -138px;
	line-height: 32px;
	color: white;
	font-size: 16px;
}


.con  .pb{
	width: 1200px;
	margin: auto;
	font-size: 0;
	margin-top: 50px;
}
.con  .pb .pb_i{
	width: 584px;
	height: 308px;
	margin-right: 32px;
	background: #f1f1f1;
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}
.con  .pb .pb_i:last-child{
	margin-right: 0;
}
.con  .pb .pb_i .pb_i_t{
	background: #008d75;
	padding: 10px 15px 6px 10px;
}
.con  .pb .pb_i .pb_i_t span:first-child{
	height: 36px;
	line-height: 36px;
	padding-left: 10px;
	border-left: 6px solid #fff;
	color: white;
	font-size: 16px;
	font-weight: 600;
}
.con  .pb .pb_i .pb_i_t span:last-child{
	float: right;
	font-size: 12px;
	color: white;
	margin-top: 8px;
	cursor: pointer;
}
.con  .pb .pb_i  .pb_i_l{
	width: 100%;
	padding: 8px 0;
}
.con  .pb .pb_i  .pb_i_l .pb_i_i{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-family: "微软雅黑";
	cursor: pointer;
}
.con  .pb .pb_i:first-child  .pb_i_l .pb_i_i:hover span{
	color: #008d75;
}
.con  .pb .pb_i  .pb_i_l .pb_i_i span{
	display: inline-block;
	width: 370px;
	padding-left: 20px;
}
.con  .pb .pb_i  .pb_i_l .pb_i_i span:last-child{
	text-align: right;
	width: 159px;
}
.con  .pb .pb_i:last-child  .pb_i_l .pb_i_i{
	text-align: center;
}
.con .more{
	width: 1200px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
.con .more .m_t{
	margin-left: 10px;
	height: 36px;
	line-height: 36px;
	color: #008d75;
	border-left: 6px solid #008d75;
	padding-left: 15px;
	font-size: 18px;
	font-weight: 600;
}
.con .more .m_l{
	margin-top: 20px;
	width: 100%;
	font-size: 0;
}
.con .more .m_l .m_i{
	display: inline-block;
	width: 378px;
	height: 264px;
	position: relative;
	margin-right: 33px;
}
.con .more .m_l .m_i:last-child{
	margin-right: 0;
}
.con .more .m_l .m_i .m_l_r{
	position: absolute;
	display: inline-block;
	height: 264px;
	width: 378px;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	line-height: 264px;
	font-size: 36px;
	color: white;
	text-align: center;
}
